@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hurricane&family=Noto+Sans:wght@300&family=Pacifico&family=Ysabeau+Office:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Hurricane", cursive;
  font-family: "Noto Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Ysabeau Office", sans-serif;
}

:root {
  --heading-color: #be185d;
  --color: #be185d;
  --white-bgc: #fff;
  --Case-border-color: #db2777;
  --hover-border: #db2777;
  --hover-bgc-btn: #fdf2f8;
  --input-border-color: #f472b6;
  --input-bgc: #e5e7eb;
  --label-color: #000000;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------- */

nav {
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 10px 36px 0px;
  margin-bottom: 1.3rem;
}

a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--color);
  font-weight: bold;
  margin-inline: 15px;
  padding: 10px;
}

a:hover {
  background-color: var(--hover-bgc-btn);
  border: 1px solid var(--hover-border);
  box-shadow: rgba(0.1, 0.8, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: var(--color);
}

.quiz-form {
  background-color: var(--white-bgc);
  box-shadow: #00000059 0 5px 15px;
  width: 60%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border: 15px solid var(--Case-border-color);
}

.Question-holder {
  border-bottom: 2px solid var(--Case-border-color);
  font-size: 1.4rem;
  margin: 10px;
  padding: 15px;
}

.Question-holder:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 10px 36px 0px;
}

span {
  font-weight: bold;
}

.radio-btn-Case {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: 1.5rem;
}

#submit-btn {
  width: 30%;
  padding: 15px;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--heading-color);
  color: var(--white-bgc);
  border: none;
  box-shadow: rgba(0.1, 0.8, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
}

#submit-btn:hover {
  background-color: var(--hover-bgc-btn);
  border: 1px solid var(--Case-border-color);
  color: var(--color);
}

#output {
  font-size: 2rem;
  margin: 1.5rem;
  color: var(--color);
}
